In [1]:
import pandas as pd

In [2]:
import os

In [3]:
os.listdir('/Users/samerens/Downloads')

['.DS_Store',
 '2017weatherdata.csv',
 '2002weatherdata.csv',
 '2005weatherdata.csv',
 '2010weatherdata.csv',
 '2018weatherdata.csv',
 '2019weatherdata.csv',
 '2011weatherdata.csv',
 '2004weatherdata.csv',
 '2003weatherdata.csv',
 '2016weatherdata.csv',
 '2009weatherdata.csv',
 '2001weatherdata.csv',
 '2014weatherdata.csv',
 '2013weatherdata.csv',
 '2006weatherdata.csv',
 '2007weatherdata.csv',
 '2012weatherdata.csv',
 '2015weatherdata.csv',
 '2000weatherdata.csv',
 '2008weatherdata.csv']

In [4]:
df = pd.DataFrame()

In [5]:
for year in range(2000, 2020): df = pd.concat([df, pd.read_csv('/Users/samerens/Downloads/' + str(year) + 'weatherdata.csv')])

In [6]:
df.to_csv('/Users/samerens/Downloads/weather_data_dirty.csv', index = False)

In [7]:
df

,Unnamed: 0,station_num,temp_ft,dewpt_ft,slp_mb,visib_mi,wind_knt,maxwind_knt,max_gust_knt,year,...,tornado,precip_in,precip_flag,max_temp_frnht,min_temp_frnht,STP,snow_depth_in,SNDP,GUST,WBAN
0,0,697040,0.0,31.3,0.0,7.0,3.9,7.0,0.0,2000,...,0,0.00,I,73.4,46.4,NaN,NaN,NaN,NaN,NaN
1,1,697040,0.0,31.8,0.0,7.0,3.1,4.1,0.0,2000,...,0,0.00,I,71.6,46.4,NaN,NaN,NaN,NaN,NaN
2,2,697040,0.0,31.2,0.0,7.0,4.4,8.0,0.0,2000,...,0,0.00,I,84.2,46.4,NaN,NaN,NaN,NaN,NaN
3,3,697040,61.7,38.5,0.0,7.0,8.0,15.0,0.0,2000,...,0,0.00,I,75.2,48.2,NaN,NaN,NaN,NaN,NaN
4,4,697040,67.3,41.7,0.0,7.0,11.4,16.9,0.0,2000,...,0,0.00,I,78.8,53.6,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987771,101,715320,41.8,30.3,1014.1,0.0,0.0,12.0,NaN,2019,...,0,0.01,G,53.2,20.7,0.0,NaN,NaN,NaN,NaN
987772,102,715320,43.7,31.8,1013.1,0.0,8.8,14.0,NaN,2019,...,0,0.01,G,58.1,32.0,0.0,NaN,NaN,NaN,NaN
987773,103,715320,30.8,26.0,1015.2,8.6,3.7,6.0,NaN,2019,...,0,0.00,G,45.5,24.3,980.5,NaN,NaN,NaN,NaN
987774,104,715320,34.9,0.0,1000.2,7.8,0.0,20.0,NaN,2019,...,0,0.55,G,42.4,32.4,966.0,NaN,NaN,NaN,NaN
987775,105,715320,36.2,21.7,1016.2,0.0,4.1,8.0,NaN,2019,...,0,0.00,G,50.9,21.7,981.5,NaN,NaN,NaN,NaN

In [8]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [9]:
df

,station_num,temp_ft,dewpt_ft,slp_mb,visib_mi,wind_knt,maxwind_knt,max_gust_knt,year,month,...,tornado,precip_in,precip_flag,max_temp_frnht,min_temp_frnht,STP,snow_depth_in,SNDP,GUST,WBAN
0,697040,0.0,31.3,0.0,7.0,3.9,7.0,0.0,2000,1,...,0,0.00,I,73.4,46.4,NaN,NaN,NaN,NaN,NaN
1,697040,0.0,31.8,0.0,7.0,3.1,4.1,0.0,2000,1,...,0,0.00,I,71.6,46.4,NaN,NaN,NaN,NaN,NaN
2,697040,0.0,31.2,0.0,7.0,4.4,8.0,0.0,2000,1,...,0,0.00,I,84.2,46.4,NaN,NaN,NaN,NaN,NaN
3,697040,61.7,38.5,0.0,7.0,8.0,15.0,0.0,2000,1,...,0,0.00,I,75.2,48.2,NaN,NaN,NaN,NaN,NaN
4,697040,67.3,41.7,0.0,7.0,11.4,16.9,0.0,2000,1,...,0,0.00,I,78.8,53.6,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987771,715320,41.8,30.3,1014.1,0.0,0.0,12.0,NaN,2019,4,...,0,0.01,G,53.2,20.7,0.0,NaN,NaN,NaN,NaN
987772,715320,43.7,31.8,1013.1,0.0,8.8,14.0,NaN,2019,4,...,0,0.01,G,58.1,32.0,0.0,NaN,NaN,NaN,NaN
987773,715320,30.8,26.0,1015.2,8.6,3.7,6.0,NaN,2019,4,...,0,0.00,G,45.5,24.3,980.5,NaN,NaN,NaN,NaN
987774,715320,34.9,0.0,1000.2,7.8,0.0,20.0,NaN,2019,4,...,0,0.55,G,42.4,32.4,966.0,NaN,NaN,NaN,NaN
987775,715320,36.2,21.7,1016.2,0.0,4.1,8.0,NaN,2019,4,...,0,0.00,G,50.9,21.7,981.5,NaN,NaN,NaN,NaN

In [10]:
df.columns

Index(['station_num', 'temp_ft', 'dewpt_ft', 'slp_mb', 'visib_mi', 'wind_knt',
       'maxwind_knt', 'max_gust_knt', 'year', 'month', 'day', 'fog', 'rain',
       'snow', 'hail', 'thunder', 'tornado', 'precip_in', 'precip_flag',
       'max_temp_frnht', 'min_temp_frnht', 'STP', 'snow_depth_in', 'SNDP',
       'GUST', 'WBAN'],
      dtype='object')

In [11]:
df.isna().sum()

station_num              0
temp_ft                119
dewpt_ft           1026862
slp_mb            15787527
visib_mi          10289756
wind_knt            541068
maxwind_knt         713699
max_gust_knt      22078848
year                     0
month                    0
day                      0
fog                      0
rain                     0
snow                     0
hail                     0
thunder                  0
tornado                  0
precip_in                0
precip_flag        4714910
max_temp_frnht           0
min_temp_frnht           0
STP               17431107
snow_depth_in     40798488
SNDP              55848560
GUST              55792407
WBAN              55866436
dtype: int64

In [12]:
df.isna().sum() / len(df)

station_num       0.000000
temp_ft           0.000002
dewpt_ft          0.018373
slp_mb            0.282483
visib_mi          0.184113
wind_knt          0.009681
maxwind_knt       0.012770
max_gust_knt      0.395053
year              0.000000
month             0.000000
day               0.000000
fog               0.000000
rain              0.000000
snow              0.000000
hail              0.000000
thunder           0.000000
tornado           0.000000
precip_in         0.000000
precip_flag       0.084363
max_temp_frnht    0.000000
min_temp_frnht    0.000000
STP               0.311892
snow_depth_in     0.730000
SNDP              0.999288
GUST              0.998284
WBAN              0.999608
dtype: float64

In [15]:
nas = df.isna().sum() / len(df)

In [23]:
df[nas[nas < 0.02].index].fillna(0).to_csv('/Users/samerens/Downloads/weather_data_clean.csv', index = False)

In [22]:
(df['temp_ft'] == 0).sum()

5527046

In [24]:
(df['dewpt_ft'] == 0).sum()

5488190